<div class="row footer">
  <div class="col-md-offset-3 col-md-3">
    <h5>Contact Us</h5>
    <ul>
      <li>ascendbruce (twitter / facebook / github / gmail)</li>
    </ul>

    <h5>Attributions</h5>
    <ul>
      <li>
        Cover image CC-BY by <a href="https://www.flickr.com/photos/121483302@N02/13490217355/in/photolist-my5TCp-6UyBbM-73xCpe-eeW2Ai-61xGL6-ubHKa9">Mish Sukharev</a>
      </li>
    </ul>
  </div>

  <div class="col-md-3">
    <h5>Useful Links</h5>
    <ul>
      <li><a href="https://www.facebook.com/groups/1093925090649556/">台灣開發者在澳洲</a></li>
      <li><a href="https://www.facebook.com/groups/job.opportunity.investment/">前進星國(找工作,創業,投資)--台灣人在新加坡</a></li>
      <li><a href="https://gitter.im/taiwanese-work-in/singapore">台灣開發者在新加坡 Gitter 聊天室</a></li>
    </ul>
  </div>
</div>
