---
title: Taiwanese Work In
---

<div class="container-fluid">
  <div class="row cover-image">
    <div class="col-md-12">
      <h1>出國工作的最後一哩路，有我們支持你</h1>
    </div>
  </div>

  <div class="row country-select">
    <div class="col-md-offset-3 col-md-6">
        <h2 class="text-muted">Taiwanese Work In __________?</h2>
        <h5 class="text-muted">點選國家名稱，前往該國的出國工作知識庫</h5>
    </div>

    <div class="col-md-offset-3 col-md-2">
        <a href="/australia" class="btn btn-default btn-lg btn-block">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Australia
        </a>
    </div>

    <div class="col-md-2">
        <a href="/japan" class="btn btn-default btn-lg btn-block">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Japan
        </a>
    </div>

    <div class="col-md-2">
        <a href="/singapore" class="btn btn-default btn-lg btn-block">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Singapore
        </a>
    </div>
  </div>

  <div class="row main">
    <div class="col-md-offset-3 col-md-6">
      <h4>為何有此計畫</h4>
      <blockquote>
        <h4>
          <a href="https://twitter.com/ascendbruce"><img src="/images/avatar_bruce.jpg" alt="" class="img-circle main__avatar"></a>
          <a href="https://twitter.com/ascendbruce">Bruce</a>
        </h4>

        前往異國的工作須知往往資料零散、過時，且出國前準備文章仍是以旅遊居多。近年有越來越多優秀的台灣知識工作者到國外工作，降低門檻勢在必行，一個集中且更新勤快的知識庫將會非常有幫助。
      </blockquote>

      <p class="text-center"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></p>

      <h4>加入貢獻</h4>
      <p>
        歡迎一同編輯知識庫，目前採用 GitHub wiki 系統，部分國家已開放公開任何人編輯；若想提供片段資料但不想整理、編輯，也歡迎開 <a href="https://github.com/taiwanese-work-in/singapore/issues">GitHub issue</a> 提供。
      </p>
      <p>若您想要建立尚未列出的國家的知識庫，也歡迎與我們聯絡。</p>

      <p class="text-center"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></p>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">請按讚並傳給想出國工作的朋友</h3>
        </div>

        <div class="panel-body">
          <div class="fb-like" data-href="http://taiwanese-work.in" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
    </div>
  </div>

  <%= partial "footer" %>
</div>
